.setting {
    transition: .5s;
    display: none;

    .group {
        @include all-center;
        flex-direction: column;

        .label__time {
            font-weight: 800
        }
        
        #custom {
            @include all-center;
            gap: 1rem;

            .custom_time {
                &.break {
                    font-size: .7rem;
                }
            }
        }
    }

}

hr {
    width: 50%;
    margin-bottom: .5rem;
}