.setting {
    transition: .5s;
    display: none;

    .group {
        @include all-center;
        flex-direction: column;

        .label__time {
            font-weight: 800
        }
        
        #custom {
            @include all-center;
            gap: 1rem;

            .custom_time {
                &.break {
                    font-size: .7rem;
                }
            }
        }

        .reset {
            border-radius: 15px;
            font-size: .8rem;
            padding: .5rem 1rem;
            color: $bg-color;
            background: $main-color;
            transition: .5s;

            &:hover {
                cursor: pointer;
                margin-top: .5rem;
                font-weight: 800;
                font-size: 1rem;
            }
        }
    }

}

hr {
    width: 50%;
    margin-bottom: .5rem;
}